#welcome-setup {
    display: block;
    align-items: center;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.maze {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.col {
    width: auto;
    height: auto;
    display: block;
}

.maze-setter {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.maze-buttons {
    margin-top: 20px;
}

#Start-button {
    margin-top: 0;
}

.grid {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10px;
    height: 10px;
    border: black 1px solid;
}

.enabled {
    background-color: gray;
}

.start {
    background-color: green;
}

.obstacle {
    background-color: darkslategray;
}

.path {
    background-color: skyblue;
}

.end {
    background-color: red;
}