html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  background-color: #354259;
  color: #ece5c7;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  vertical-align: middle;
}

form {
    text-align: left;
}

input {
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
      5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

form {
    align-items: center;
}

button:hover {
  transform: scale(1.05) rotate(-1deg);
}

#welcome-setup {
  display: block;
  align-items: center;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.maze {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  
}

.col {
  width: auto;
  height: auto;
  display: block;
}

.maze-setter {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.maze-buttons {
  margin-top: 20px;
}

#Start-button {
  margin-top: 0;
}

.grid {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 10px;
  height: 10px;
  border: black 1px solid;
}

.enabled {
  background-color: gray;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #7d6e83;
    border-radius: 100%;
  }

  50% {
    background-color: #7895b2;
  }

  75% {
    transform: scale(1.2);
    background-color: #a7d2cb;
  }

  100% {
    transform: scale(1);
    background-color: #7895b2;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f1f7b5;
  }

  50% {
    transform: scale(1.2);
    background-color: #f1f7b5;
  }

  100% {
    transform: scale(1);
    background-color: #f1f7b5;
  }
}

.node-shortest-path {
  background-color: orange;
}

.start {
  background-color: #86c8bc !important;
}

.obstacle {
  background-color: darkslategray;
}

.path {
  background-color: skyblue;
}

.end {
  background-color: #e97777 !important;
}
